version: "3.8"
services:
  anonymizer:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db-mysql
    volumes:
      - ./:/app/
    env_file:
      - .env
    command:
      tail -f /dev/null

  db-mysql:
    image: mysql:5.7.17
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_USER: admin
      MYSQL_PASSWORD: password
      MYSQL_PORT: 3306
      MYSQL_DATABASE: backdb
    ports:
      - "3308:3306"
    env_file:
      - .env

